<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406228877549-0e2kvq1e6p6ga7ktvn10a23ldh089sar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406228877549-0e2kvq1e6p6ga7ktvn10a23ldh089sar</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406228877549-p8r3kr0ub4np93j9u65kfjjbc6quv5ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJfUQVdG3eKD9_owuiU8zm8A3LAOHjhU4</string>
	<key>GCM_SENDER_ID</key>
	<string>406228877549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growproexperience.app</string>
	<key>PROJECT_ID</key>
	<string>gpx-grower-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gpx-grower-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406228877549:ios:8cfae676a9e5200d1e4ce4</string>
</dict>
</plist>